<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.test2.Mapper.Primary.AdminMapper">

    <insert id="insertAdmin" parameterType="com.example.test2.POJO.Admin">
        insert into admin (username,password,group_id) values (<if test="username!=null">#{username},</if>
                                                               <if test="password!=null">#{password},</if>
                                                               <if test="group_id!=null">#{group_id}</if>)
    </insert>

    <update id="updatePasswordById">
        update admin set password=<if test="password!=null">#{password}</if> where id=#{id}
    </update>

    <delete id="deleteAdminById" parameterType="java.lang.Long">
        delete from admin where id=#{id}
    </delete>

    <select id="selectAdminByUsername" resultType="com.example.test2.POJO.Admin"
            parameterType="java.lang.String">
        select id,username,password,group_id
             from admin
             where username=#{username}
    </select>

    <select id="selectAdminById" resultType="com.example.test2.POJO.Admin" parameterType="java.lang.Long">
        select id,username,password,group_id from admin where id=#{id}
    </select>

</mapper>