<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.test2.Mapper.secondary.QRRecordsMapper">


    <insert id="insertNewQrRecord">
        insert into ${dateFormat} (`id`,`user_id`,`place_id`,`timeMillis`)
        values(#{record.id},#{record.user_id},#{record.place_id},#{record.timeMillis})
    </insert>


    <update id="createTableByDate">
        create table IF NOT EXISTS ${dateFormat}(
        `id` BIGINT auto_increment COMMENT '编号',
        `user_id` BIGINT COMMENT '用户id',
        `place_id` BIGINT COMMENT '场所id',
        `place_type` varchar(10) COMMENT 'car/normal',
        `timeMillis` bigint comment '扫码时间戳',
        primary key (`id`))
    </update>

    <select id="selectPlaceIdTypeByUserid" resultType="java.util.HashMap">
        select `place_id`,`place_type`,`timeMillis`
        from ${dateFormat}
        where `user_id`=#{userId}
        order by `timeMillis`
    </select>


</mapper>